﻿@{
    ViewBag.Title = "Home Page";
}

<hr />
<hr />
    <div class="row pad-top pad-bottom">

        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="chat-box-new-div">
                <div class="chat-box-new-head">
                    ODALAR (4)
                </div>
                <div class="panel-body chat-box-new">

                    <a href="#">
                        <img src="~/Content/img/veriyapi.jpg" alt="bootstrap Chat box user image" class="img-circle" />
                        Web Programlama
                    </a>
                    <hr class="hr-clas-low" />
                    <a href="#">
                        <img src="~/Content/img/veriyapi.jpg" alt="bootstrap Chat box user image" class="img-circle" />
                        Veri Yapıları
                    </a>
                    <hr class="hr-clas-low" />
                    <a href="#">
                        <img src="~/Content/img/veriyapi.jpg" alt="bootstrap Chat box user image" class="img-circle" />
                        Veri İletişimi
                    </a>
                    <hr class="hr-clas-low" />
                    <a href="#">
                        <img src="~/Content/img/veriyapi.jpg" alt="bootstrap Chat box user image" class="img-circle" />
                        Algoritma Analizi
                    </a>
                    <hr class="hr-clas-low" />
                </div>

            </div>

        </div>
        <div class=" col-lg-6 col-md-6 col-sm-6">
            <div class="chat-box-div">
                <div class="chat-box-head">
                    SOHBET
                </div>
                <div class="panel-body chat-box-main">
                    <div class="chat-box-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="chat-box-name-left">
                        <img src="~/Content/img/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Justine Goliyad
                    </div>
                    <hr class="hr-clas" />
                    <div class="chat-box-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="chat-box-name-right">
                        <img src="~/Content/img/user.gif" alt="bootstrap Chat box user image" class="img-circle" />
                        - Romin Royeelin
                    </div>
                    <hr class="hr-clas" />
                    <div class="chat-box-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="chat-box-name-left">
                        <img src="~/Content/img/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Justine Goliyad
                    </div>
                    <hr class="hr-clas" />
                    <div class="chat-box-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="chat-box-name-right">
                        <img src="~/Content/img/user.gif" alt="bootstrap Chat box user image" class="img-circle" />
                        - Romin Royeelin
                    </div>
                    <hr class="hr-clas" />
                </div>
                <div class="chat-box-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Text Here...">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button">SEND</button>
                        </span>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="chat-box-online-div">
                <div class="chat-box-online-head">
                    ONLINE KULLANICILAR (120)
                </div>
                <div class="panel-body chat-box-online">

                    <div class="chat-box-online-left">
                        <img src="~/Content/img/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Justine Goliyad
                        <br />
                        ( <small>Active from 3 hours</small> )
                    </div>
                    <hr class="hr-clas-low" />

                    <div class="chat-box-online-right">
                        <img src="~/Content/img/user.gif" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Romin Royeelin
                        <br />
                        ( <small>Active from 10 hours</small> )
                    </div>
                    <hr class="hr-clas-low" />
                    <div class="chat-box-online-left">
                        <img src="~/Content/img/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Justine Goliyad
                        <br />
                        ( <small>Active from 3 hours</small> )
                    </div>
                    <hr class="hr-clas-low" />

                    <div class="chat-box-online-right">
                        <img src="~/Content/img/user.gif" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Romin Royeelin
                        <br />
                        ( <small>Active from 10 hours</small> )
                    </div>
                    <hr class="hr-clas-low" />
                    <div class="chat-box-online-left">
                        <img src="~/Content/img/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Justine Goliyad
                        <br />
                        ( <small>Active from 3 hours</small> )
                    </div>
                    <hr class="hr-clas-low" />

                    <div class="chat-box-online-right">
                        <img src="~/Content/img/user.gif" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Romin Royeelin
                        <br />
                        ( <small>Active from 10 hours</small> )
                    </div>
                    <hr class="hr-clas-low" />
                    <div class="chat-box-online-left">
                        <img src="~/Content/img/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Justine Goliyad
                        <br />
                        ( <small>Active from 3 hours</small> )
                    </div>
                    <hr class="hr-clas-low" />

                    <div class="chat-box-online-right">
                        <img src="~/Content/img/user.gif" alt="bootstrap Chat box user image" class="img-circle" />
                        -  Romin Royeelin
                        <br />
                        ( <small>Active from 10 hours</small> )
                    </div>
                    <hr class="hr-clas-low" />
                </div>

            </div>

        </div>

    </div>
