﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Saü Chat Room </title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
             
                <div class="navbar-collapse collapse">
                    @if (this.User.IsInRole("Administrator"))
                    {

                        <div class="navbar-header">
                            @Html.ActionLink("Saü Chat Room", "IndexAdmin", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Admin", "IndexPanel", "Admin")</li>
                        </ul>
                    }
                    else
                    {   <div class="navbar-header">
                        @Html.ActionLink("Saü Chat Room", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>

                    }

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 ">
                        <!-- widgets column center -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->
                            <li class="widget-container widget_recent_news">
                                <!-- widgets list -->
                                <h1 class="title-widget">İletisim </h1>
                                <div class="footerp">
                                    <p><b>E-mail:</b> <a href="mailto:oguzhan.kocabas1@ogr.sakarya.edu.tr">oguzhan.kocabas1@ogr.sakarya.edu.tr</a></p>
                                    <p><b>Okul No: </b>G151210309, </p>
                                    <p><b>GSM No: </b>5076487375 </p>
                                </div>

                                <div class="social-icons ">

                                    <ul class="nomargin">
                                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                        <a href="https://twitter.com/ "target="_blank"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                        <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                        <a href="mailto:oguzhan.kocabas1@ogr.sakarya.edu.tr" target="_blank"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="copyright" style="text-align:center">
                        © 2016, Oğuzhan Kocabaş, Tüm Hakları Saklıdır.

                    </div>
                </div>

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
