﻿<!doctype html>
<html lang="en" class="no-js">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/AdminCss/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/Content/AdminCss/style.css"> <!-- Resource style -->
    <script src="../Scripts/modernizr.js"></script> <!-- Modernizr -->

    <title>Responsive Sidebar Navigation | CodyHouse</title>
</head>
<body>

    <header class="cd-main-header">
        @if (this.User.IsInRole("Administrator"))
        {

            <div class="navbar-header">
                @Html.ActionLink("Saü Chat Room", "IndexAdmin", "Home", new { area = "" }, new { @class = "cd-logo" })
            </div>
        }
        else
        {   <div class="navbar-header">
        @Html.ActionLink("Saü Chat Room", "Index", "Home", new { area = "" }, new { @class = "cd-logo" })
    </div>
        }
        <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
        <nav class="cd-nav">
            <ul class="cd-top-nav">
                <li>
                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                        {
                            @Html.AntiForgeryToken()


                            <a href="javascript:document.getElementById('logoutForm').submit()">Çıkış</a>

                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
                </li>
            </ul>
        </nav>
    </header> <!-- .cd-main-header -->
    <main class="cd-main-content">
        <nav class="cd-side-nav">
            <ul>
                <li class="cd-label">Main</li>
                <li class="overview">
                <li>@Html.ActionLink("Oda Yönetimi", "Index", "RoomModels", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li class="notifications active">
                <li>@Html.ActionLink("Rol Yönetimi", "RolYonetimIndex", "Admin", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            </ul>
        </nav>
    </main> <!-- .cd-main-content -->
    <div class="content-wrapper">

        @RenderBody()
    </div>

    <script src="../Scripts/jquery-2.1.4.js"></script>
    <script src="../Scripts/jquery.menu-aim.js"></script>
    <script src="../Scripts/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
