﻿@using SauChatRoom.Models
@model LoginViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/Content/LoginStyle.css">
<div class="vid-container">
    <video id="Video1" class="bgvid back" autoplay="false" muted="muted" preload="auto" loop>
        <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
    </video>
    <div class="inner-container">
        <video id="Video2" class="bgvid inner" autoplay="false" muted="muted" preload="auto" loop>
            <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
        </video>
        <div class="box">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h1>SAÜ CHAT ROOM</h1>
            

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Mail" })
                <div class="ml-10">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger"  })
                </div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre" })
                <div class="ml-10">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <input type="submit" value="Giriş Yap" class="lgnRgstrBtn" />
                <input type="button" value="Kayıt Olmadınız Mı?" onclick="location.href='@Url.Action("Register", "Account")'"  class="lgnRgstrBtn"  />
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/LoginIndex.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}