﻿@model SauChatRoom.Models.RegisterViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/Content/LoginStyle.css">
<div class="vid-container">
    <video id="Video1" class="bgvid back" autoplay="false" muted="muted" preload="auto" loop>
        <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
    </video>
    <div class="inner-container">
        <video id="Video2" class="bgvid inner" autoplay="false" muted="muted" preload="auto" loop>
            <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
        </video>
        <div class="box">
          @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
          {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h1>Kayıt</h1>

                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Ad Soyad" })
                <div class="ml-10">
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Mail" })
                <div class="ml-10">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre" })
                <div class="ml-10">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="ml-10">
                   @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Tekrar Şifre" })
                </div>

                <input type="submit" value="Kayıt Ol" class="lgnRgstrBtn" />
                <input type="button" value="Önceki" onclick="location.href='@Url.Action("Login", "Account")'" class="lgnRgstrBtn" />
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/LoginIndex.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
